@using GDO.Core
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>GDO Node </title>
    <!-- Bootstrap Core CSS -->
    <link href="../Bootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../Bootstrap/bower_components/metisMenu/dist/metisMenu.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="../Bootstrap/dist/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../Bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="../Bootstrap/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../Bootstrap/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../CSS/gdo.management.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        #app_frame {
            position: fixed;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            border: 0 none;
            z-index: 9;
        }
        #element::-webkit-scrollbar { 
            display: none; 
        }
        body {
            overflow:hidden;
            margin:0px;
        }
    </style>
    <script>
        var gdo = {};
        gdo.net = {};
        gdo.management = {};
        gdo.maintenance = {};
        gdo.node = {};
        gdo.fs = {};
        gdo.net.peer = {};
        gdo.net.node = [];
        gdo.net.section = [];
        gdo.net.module = [];
        gdo.net.modules = {};
        gdo.net.app = [];
        gdo.net.apps = {}
        gdo.net.instance = [];
        gdo.net.nodes = {};
        gdo.net.neighbour = {};
        @{
            foreach (KeyValuePair<string, IModule> moduleEntry in Cave.Modules)
            {
                @:gdo.net.module["@moduleEntry.Value.Name"] = {};
                @:gdo.net.module["@moduleEntry.Value.Name"].name = "@moduleEntry.Value.Name";
            }
            foreach (KeyValuePair<string, App> appEntry in Cave.Apps)
            {
                @:gdo.net.app["@appEntry.Value.Name"] = {};
                @:gdo.net.app["@appEntry.Value.Name"].name = "@appEntry.Value.Name";
            }
            @: var a = {}
        }
    </script>
</head>
<body unselectable="on" class="unselectable" style="background-color:#000;">
    <script src="../Scripts/jquery-2.1.4.min.js"></script>
    <script src="../Bootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../Bootstrap/dist/js/sb-admin-2.js"></script>
    <script src="../Bootstrap/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <script src="../Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="../Scripts/jquery.csv-0.71.min.js"></script>
    <script type="text/javascript" src="../Scripts/gdo.js"></script>
    <script src="../signalr/hubs"></script>
    <script type="text/javascript" src="../Scripts/peer.js"></script>
    <script type="text/javascript" src="../Scripts/heatmap.min.js"></script>
    <script>
            $(function() {
                @{
                    foreach (KeyValuePair<string, App> appEntry in Cave.Apps)
                    {
                        @:gdo.loadScript("@appEntry.Value.Name", "@appEntry.Value.Name", gdo.SCRIPT_TYPE.APP);
                    }
                    foreach (KeyValuePair<string, IModule> moduleEntry in Cave.Modules)
                    {
                        @:gdo.loadScript("@moduleEntry.Value.Name","@moduleEntry.Value.Name", gdo.SCRIPT_TYPE.MODULE);
                    }
                }
                $(document).ready(function () {
                    gdo.clientId = getUrlVar('clientId');


                    if (gdo.clientId != false) {
                        gdo.initGDO(gdo.CLIENT_MODE.NODE);
                    }else{
                        gdo.net.maintenanceMode = true;
                        gdo.net.blankMode = false;
                        gdo.loadScript('maintenance', 'maintenance', gdo.SCRIPT_TYPE.CORE);
                        $("#maintenance_title").empty().css({ fontSize: 140 }).css("color", "#FFF").append("<b>Node</b> ");
                        $("#console_area").css("height", "517px");
                        gdo.maintenance.drawEmptyNodeTable(gdo.net.cols, gdo.net.rows);
                        gdo.maintenance.drawMaintenanceTable();
                        gdo.consoleOut("",5,"No Client ID");
                    }
                });
            });
            window.onerror = function (errorMsg, url, lineNumber, column, errorObj) {
                //var space = "<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
                var space = "<br /> ";
                gdo.consoleOut("", 5, errorMsg + space + 'Script: ' + url + space + 'Line: ' + lineNumber
                    + space + 'Column: ' + column + space + 'StackTrace: ' + errorObj);
            }
            initApp = function() {
                gdo.consoleOut('', 1, 'GDO Initialized');
                gdo.updateSelf();
            }
    </script>
    <div id="wrapper" style="background-color:#000;">
            <!--<div class="embed-responsive embed-responsive-16by9" id="app_frame" style="border:0 none;display:block;width:100%;height:100vh">
                <iframe class="embed-responsive-item" id="app_frame_content" name="app_frame_content" allowtransparency="true" width="100%" height="100%" frameborder="0" style="border:0 none;display:block;width:100%;height:100%;"></iframe>
            </div>-->
            <div id="app_frame" style="border: 0 none; display: block; width: 100%; height: 100vh">
                <iframe id="app_frame_content" name="app_frame_content" allowtransparency="true" width="100%" height="100%" frameborder="0" style="border: 0 none; display: block; width: 100%; height: 100%;"></iframe>
            </div>
            <div id="connection_status" class="img-circle circle" style='position: absolute; top: 50px; right: 50px;width:110px;height:110px; background: #2A9FD6;display: table;'><i id="connection_icon" class='fa  fa-arrow-right fa-3x' style="display: table-cell; color: #ffffff;vertical-align: middle; text-align: center"></i></div>
            <div id="maintenance" style="background-color:#000;">
                <div id="maintenance_title" style="text-align: center">Node</div>
                
                <table id="maintenance_status_table" unselectable="on" class="unselectable" style="margin: 6px;width: 99.5%; text-align: center;background-color:#000;border-collapse: separate; border-spacing: 3px;" >
                    <tr>
                        <td id="maintenance_status_table_col" style="background:#222;border:2px solid #222;">
                            <table style="width: 100%;height:100%; text-align: center; background:transparent">
                                <tr>
                                    <td><b>Cave Col</b></td>
                                </tr>
                                <tr>
                                    <td id="maintenance_status_table_col_content"></td>
                                </tr>
                            </table>
                        </td>
                        <td id="maintenance_status_table_row" style="background:#222;border:2px solid #222;">
                            <table style="width: 100%;height:100%; text-align: center; background:transparent; vertical-align:text-top">
                                <tr>
                                    <td><b>Cave Row</b></td>
                                </tr>
                                <tr>
                                    <td id="maintenance_status_table_row_content"></td>
                                </tr>
                            </table>
                        </td>
                        <td id="maintenance_status_table_sid" style="background:#222;border:2px solid #222;">
                            <table style="width: 100%;height:100%; text-align: center; background:transparent">
                                <tr>
                                    <td><b>Section Id</b></td>
                                </tr>
                                <tr>
                                    <td id="maintenance_status_table_sid_content"></td>
                                </tr>
                            </table>
                        </td>
                        <td id="maintenance_status_table_scol" style="background:#222;border:2px solid #222;">
                            <table style="width: 100%;height:100%; text-align: center; background:transparent">
                                <tr>
                                    <td><b>Section Col</b></td>
                                </tr>
                                <tr>
                                    <td id="maintenance_status_table_scol_content"></td>
                                </tr>
                            </table>
                        </td>
                        <td id="maintenance_status_table_srow" style="background:#222;border:2px solid #222;">
                            <table style="width: 100%;height:100%; text-align: center; background:transparent; ">
                                <tr>
                                    <td><b>Section Row</b></td>
                                </tr>
                                <tr>
                                    <td id="maintenance_status_table_srow_content"></td>
                                </tr>
                            </table>
                        </td>
                        <td id="maintenance_status_table_cid" style="background: #222; border: 2px solid #222;">
                            <table style="width: 100%; height: 100%; text-align: center; background: transparent; padding: 0">
                                <tr>
                                    <td style=""><b>Connection Id</b></td>
                                </tr>
                                <tr>
                                    <td id="maintenance_status_table_cid_content"></td>
                                </tr>
                            </table>
                        </td>
                        <td id="maintenance_status_table_pid" style="background:#222;border:2px solid #222;">
                            <table style="width: 100%;height:100%; text-align: center; background:transparent">
                                <tr>
                                    <td><b>Peer Id</b></td>
                                </tr>
                                <tr>
                                    <td id="maintenance_status_table_pid_content"></td>
                                </tr>
                            </table>
                        </td>
                        <td id="maintenance_status_table_h" style="background:#222;border:2px solid #222;">
                            <table style="width: 100%;height:100%; text-align: center; background:transparent">
                                <tr>
                                    <td><b>Node Health</b></td>
                                </tr>
                                <tr>
                                    <td id="maintenance_status_table_h_content"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            <table style="width: 100%; text-align: center;background-color:#000;border-collapse: separate; border-spacing: 3px;">
                                <tr>
                                    <td id="maintenance_status_table_app" style="background:#222;border:2px solid #222;">
                                        <table style="width: 100%;height:100%; text-align: center; background:transparent">
                                            <tr>
                                                <td><b>Application</b></td>
                                            </tr>
                                            <tr>
                                                <td id="maintenance_status_table_app_content"></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td id="maintenance_status_table_instance" style="background:#222;border:2px solid #222;">
                                        <table style="width: 100%;height:100%; text-align: center; background:transparent">
                                            <tr>
                                                <td><b>Instance</b></td>
                                            </tr>
                                            <tr>
                                                <td id="maintenance_status_table_instance_content"></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td id="maintenance_status_table_configuration" style="background:#222;border:2px solid #222;">
                                        <table style="width: 100%;height:100%; text-align: center; background:transparent">
                                            <tr>
                                                <td><b>Configuration</b></td>
                                            </tr>
                                            <tr>
                                                <td id="maintenance_status_table_configuration_content"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <br>
                <table id="maintenance_node_table" unselectable="on" class="unselectable" style="margin-left: 4px;width: 99.5%;background-color:#000;border-collapse: separate; border-spacing: 2px;" ></table>
                <br>
                
                <div id="console_area" style="margin-left: 7px;font-size: 11px;width: 99%; height: 250px; overflow-y: scroll; overflow-y: hidden; border: 2px solid #333; background-color: #111; color: #FFF"></div>
            </div>
    </div>
<!-- /#wrapper -->
    <!-- Flot Charts JavaScript -->
    <script src="../../Bootstrap/bower_components/flot/excanvas.min.js"></script>
    <script src="../../Bootstrap/bower_components/flot/jquery.flot.js"></script>
    <script src="../../Bootstrap/bower_components/flot/jquery.flot.pie.js"></script>
    <script src="../../Bootstrap/bower_components/flot/jquery.flot.resize.js"></script>
    <script src="../../Bootstrap/bower_components/flot/jquery.flot.time.js"></script>
    <script src="../../Bootstrap/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
</body>
</html>
